# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/

# Editor directories and files
.vscode/*
.DS_Store

# Secrets
*.env
*.local

# TFT Assets
frontend/public/assets/
scripts/assets/

# Build artifacts
frontend/dist/